.ivu-menu-submenu-title,.ivu-menu{
    text-align: left;
}

.ivu-breadcrumb{
    text-align: left;
    padding: 10px 0 0 20px;
}
.ivu-tag{
    height: 26px !important;
    line-height: 26px !important;
    border-radius: 0 !important;
    margin-left: 4px !important;
}

.ivu-tree-arrow{
    vertical-align: middle;
    padding-bottom: 12px;
    margin-right: 12px;
}